{% extends 'LjmsAdminBundle:Default:base.html.twig' %}
	{% block content%}
        <h2 class="add_user">My Profile</h2>
        <form action="{{ path('profile_index') }}" novalidate="novalidate" method="post" class="form-horizontal" id="profile_form">
        <fieldset>
            {{ form_errors(form) }}
            {{form_row(form.FirstName)}}
            {{form_row(form.LastName)}}
            {{form_row(form.HomePhone)}}
            {{form_row(form.CellPhone)}}
            {{form_row(form.AltPhone)}}
            {{form_row(form.email)}}
            {{form_row(form.password)}}
            <div class="controls buttons">
                {{form_widget(form.Save,{attr:{'class':'btn'}})}}
                <a class="btn" id="act" href="{{ path('users_index') }}">Back</a>
            </div>
        </fieldset>
        {{form_rest(form)}}
    </form>
    {% endblock %}
