{% extends 'LjmsAdminBundle:Default:base.html.twig' %}
	{% block content%}
        <h2 class="add_user">Information</h2>
        <form action="" class="form-horizontal" id="add_user_form">
            <fieldset>
                <h3>User information</h3>
                <div class="pull-left">
                    <ul class="unstyled">
                        <li>
                            <label class="control-label">First Name:</label>
                            <p class="dashboard">{{ profile.FirstName }}</p>
                        </li>
                        <li>
                            <label class="control-label">Email:</label>
                            <p class="dashboard">{{ profile.Email }}</p>
                        </li>
                        <li>
                            <label class="control-label">Home phone:</label>
                            <p class="dashboard">{{ profile.HomePhone }}</p>
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="unstyled">
                        <li>
                            <label class="control-label">Last Name:</label>
                            <p class="dashboard"> {{ profile.LastName }}</p>
                        </li>
                        <li>
                            <label class="control-label">Cell phone:</label>
                            <p class="dashboard">{{ profile.CellPhone }}</p>
                        </li>
                        <li>
                            <label class="control-label">Alt phone:</label>
                            <p class="dashboard">{{ profile.AltPhone }}</p>
                        </li>
                    </ul>
                </div>
            </fieldset>
            <fieldset>
                <h3>Address information</h3>
                <div class="pull-left">
                    <ul class="unstyled">
                        <li>
                            <label class="control-label">Address:</label>
                            <p class="dashboard">{{ profile.address.Address }}</p>
                        </li>
                        <li>
                            <label class="control-label">State:</label>
                            <p class="dashboard">{{ profile.address.state.name }}</p>
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="unstyled">
                        <li>
                            <label class="control-label">City:</label>
                            <p class="dashboard">{{ profile.address.City }}</p>
                        </li>
                        <li>
                            <label class="control-label">Zip:</label>
                            <p class="dashboard">{{ profile.address.zip }}</p>
                        </li>
                    </ul>
                </div>
            </fieldset>
            <fieldset>
            <h3>Role information</h3>
            <table class="roles" id="roles">
                <tr class="header">
                    <td>Current Roles</td>
                    <td>Division</td>
                    <td>Team</td>
                </tr>
                    {% for role in profile.roles if profile.roles!=null %}
                        {% if role.name=='Admin' %}
                            <tr>
                                <td>Admin</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                        {% if role.name=='Director' %}
                            {% for d in profile.divisions %}
                                <tr>
                                    <td>Director</td>
                                    <td>{{ d.name }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if role.name=='Coach' %}
                            {% for c in profile.coachTeams %}
                                <tr>
                                    <td>Coach</td>
                                    <td>{{ c.division.name }}</td>
                                    <td>{{ c.name }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if role.name=='Manager' %}
                            {% for m in profile.managerTeams %}
                                <tr>
                                    <td>Manager</td>
                                    <td>{{ m.division.name }}</td>
                                    <td>{{ m.name }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if role.name=='Guardian' %}
                            <tr>
                                <td>Guardian</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
            </table>
            </fieldset>
        </form>
    {% endblock %}
