{% extends 'LjmsTplBundle:Default:base.html.twig' %}
        {% block scripts %}
            <script>
                {% if url is defined %} var Url='{{path(url,{'year':0,'month':0,'day':0})}}';{% endif %}
                {% if ajaxUrl is defined %} var ajaxUrl='{{path(ajaxUrl)}}';{% endif %}
            </script>
        {% endblock %}
        {% block section%}
        <section>
            <div class="row">
                {% block leftside %}
                    <div class="span2 left">
                        <form action="{{path ('home_division_info')}}" method="post">
                        <fieldset>
                            <legend>Division</legend>
                            <label for="division_list">Select Your Division:</label>
                            <select name="division" id="division_list" onchange="this.form.submit()">
                                <option value="">--Select one--</option>
                                {% for d in division_list %}
                                    <option value={{ d.id }}>{{ d.name }}</option>
                                {% endfor %}
                            </select>
                        </fieldset>
                        </form>
                        <div id="date"> </div>
                    </div>
                {% endblock %}
                {% block content %} {% endblock %}
                {% block rightside %}
                    <div class="span2">
                        <h2>Announcements</h2>
                        {% image '@LjmsTplBundle/Resources/public/images/announce_img.gif' %}
                        <img src="{{ asset_url }}" alt="" />
                        {% endimage %}
                        <blockquote>
                            <p><strong>All Games On As Scheduled!!!!</strong></p>
                            <p><strong>LJMS will be walking in the Lockport Old Canal Days Parade June 14th!!!!</strong></p>
                            <p><strong>Watch for more Info!!!!!</strong></p>
                            <p class="last">
                                Rain-out hot line.....in the event of questionable weather, we have established a call in hot-line
                                that you can call to see if games are cancelled.<strong>This only applies to</strong>
                                <strong>Hassert Park</strong> and can be called after 3pm on weekdays and 8am on weekends.
                                The number is <strong>815-838-1183 ext 504</strong> .....please remember to dial the proper extension.
                            </p>
                        </blockquote>
                    </div>    
                {% endblock %}
            </div>
        </section>
        {% endblock %}
