{% extends 'LjmsAdminBundle:Default:base.html.twig' %}
	{% block content%}
		<h2>Players</h2>
        {{ macros.status_message }}
		<form action="{{path ('player_index')}}" method="get" class="pull-left" id="filter_form">
			<span class="filter"><strong>Filter by:</strong></span>
			<span class="filter"> Status:</span>
			<select id="filter" name="status">
				<option value="all" {% if filter.status=='all' %}selected {%endif%}>All</option>
				<option value="active"{% if filter.status=='active' %}selected {%endif%}>Active</option>
				<option value="inactive"{% if filter.status=='inactive' %}selected {%endif%}>Inactive</option>
			</select>
			<input class="btn filter" type="submit" value="filter" >
		</form>
		<form action="{{path ('player_group')}}" method="post" id="system_users_form">
            {% if ( is_granted('ROLE_ADMIN')) %}
			<div class="pull-left">
				<select id="action_select" name="action_select">
					<option value="active">Active</option>
					<option value="inactive">Inactive</option>
					<option value="delete">Delete</option>
				</select>
				<input class="btn action" type="submit" value="Action" >
			</div>
            {% endif %}
            <div class="pagination pull-right">
                <ul>
                    <li {% if limit==10 %}class="active"{% endif %}>
                        <a href="{{ path('player_index') }}?status={{ filter.status }}&page=1&limit=10">10</a>
                    </li>
                    <li {% if limit==20 %}class="active"{% endif %}>
                        <a href="{{ path('player_index') }}?status={{ filter.status }}&page=1&limit=20">20</a>
                    </li>
                    <li {% if limit==30 %}class="active"{% endif %}>
                        <a href="{{ path('player_index') }}?status={{ filter.status }}&page=1&limit=30">30</a>
                    </li>
                    <li {% if limit=='all' %}class="active"{% endif %}>
                        <a href="{{ path('player_index') }}?status={{ filter.status }}&page=1&limit=all">all</a>
                    </li>
                </ul>
            </div>
			<table class="system_users">
				<tbody>
				<tr class="header">
					<td><input type="checkbox" id="selall"></td>
					<td>NAME</td>
					<td>AGE</td>
					<td>DIVISION</td>
					<td>TEAM</td>
					<td>GUARDIAN</td>
					<td>ACTION</td>
				</tr>
                {% for p in players %}
				<tr {% if p.isActive==0 %} class="muted content"{% else %}class="content"{% endif %} >
					<td> <input type="checkbox" class="checkbox" name="check[]" value={{p.id}}> </td>
					<td class="name">{{p.firstname}} , {{p.lastname}}</td>
					<td>{{ p.birthdate|age }}</td>
					<td>{% if p.team!=null %}{{ p.team.division.name }}{% endif %}</td>
					<td>{% if p.team!=null %}{{ p.team.name }}{% endif %}</td>
					<td><a href="{{ path ('guardian_edit',{'id':p.profile.id}) }}">{{p.profile.FirstName}}, {{p.profile.LastName}}</a></td>
					<td>
                    {% if p.profile.id==id or is_granted('ROLE_ADMIN')%}
					    <a href="{{path ('player_edit',{'id':p.id}) }}">
                            {% image '@LjmsTplBundle/Resources/public/images/edit.png' %}
                            <img src="{{ asset_url }}" alt="edit" />
                            {% endimage %}
					    </a>
                        <a href="{{path ('player_delete',{'id':p.id})}} " data-confirm-text="Do you want to delete player?" data-method="delete" data-csrf="_token:{{ csrf }}" class="confirmable as-form">
                            {% image '@LjmsTplBundle/Resources/public/images/delete.png' %}
                            <img src="{{ asset_url }}" alt="delete" />
                            {% endimage %}
                        </a>
                    {% endif %}
                    </td>
				</tr>
				{%endfor%}
				</tbody>
			</table>
		</form>
        {{ macros.links('player_index',filter,page,limit,pagination)}}
	{% endblock %}
