{% block form_row %}
    {% spaceless %}
        <div class="control-group">
            {{form_label(form,null,{label_attr:{'class': 'control-label'}})}}
            {{ form_errors(form) }}
            <div class="controls">
                {{ form_widget(form,{attr:{'class': 'input-large'}}) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block _division_file_row %}
    <div class="control-group">
        {{form_label(form,null,{label_attr:{'class': 'control-label'}})}}
        {{ form_errors(form) }}
        <div class="controls">
            {{ form_widget(form,{attr:{'class': 'input-large','onchange':'return uploadFile(this.files);'}}) }}
            <span class="help-block">Recommended dimensions of 640×480<br>Maximum file size of 4MB </span>
        </div>
    </div>
{% endblock %}
{% block row_addRole %}
    <div class="add_role">
        {{ form_widget(form.AddRole)}}
    </div>
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <p class="alert alert-error">{{ error.message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block _schedule_home_team_row %}
    <div class="control-group">
        {{form_label(form,null,{label_attr:{'class': 'control-label'}})}}
        {{ form_errors(form) }}
        <div class="controls">
            {{ form_widget(form,{attr:{'class': 'input-large select_team'}}) }}
        </div>
    </div>
{% endblock %}
{% block _schedule_visiting_team_row %}
    <div class="control-group">
        {{form_label(form,null,{label_attr:{'class': 'control-label'}})}}
        {{ form_errors(form) }}
        <div class="controls">
            {{ form_widget(form,{attr:{'class': 'input-large select_team'}}) }}
        </div>
    </div>
{% endblock %}

{% block _schedule_date_row  %}
    <div class="control-group">
        {{form_label(form,'Date',{label_attr:{'class': 'control-label'}})}}
        {{ form_errors(form) }}
        <div class="controls">
            {{ form_widget(form.date.day,{attr:{'class':'input-mini pull-left'} }) }}
            {{ form_widget(form.date.month,{attr:{'class':'input-mini'} }) }}
            {{ form_widget(form.date.year,{attr:{'class':'input-mini'} }) }}
        </div>
    </div>
    <div class="control-group">
        {{form_label(form,'Time',{label_attr:{'class': 'control-label'}})}}
        <div class="controls">
            {{ form_widget(form.time.hour,{attr:{'class':'input-mini pull-left'} }) }}
            <span> : </span>
            {{ form_widget(form.time.minute,{attr:{'class':'input-mini'} }) }}
        </div>
    </div>
{% endblock %}

{% block _player_birthdate_row  %}
    <div class="control-group">
        {{form_label(form,null,{label_attr:{'class': 'control-label'}})}}
        {{ form_errors(form) }}
        <div class="controls">
            {{ form_widget(form.day,{attr:{'class':'input-mini pull-left'} }) }}
            {{ form_widget(form.month,{attr:{'class':'input-mini'} }) }}
            {{ form_widget(form.year,{attr:{'class':'input-mini'} }) }}
        </div>
    </div>
{% endblock %}

{% block _result_visiting_team_score_widget %}
    {{ form_widget(form,{attr:{'class': 'input-medium'}}) }}
{% endblock %}
{% block _result_home_team_score_widget %}
    {{ form_widget(form,{attr:{'class': 'input-medium'}}) }}
{% endblock %}

{% block captcha_widget %}
    {% spaceless %}
        <script type="text/javascript" src={{ form.vars.url }}></script>
        <script type="text/javascript">
                Recaptcha.create("{{ form.vars.public_key }}", 'recaptcha_div', {
                    theme: "red",
                    callback: Recaptcha.get_response()});
        </script>
        <div id="recaptcha_div"></div>
    {% endspaceless %}
{% endblock %}