{% macro links (path,filter,page,limit,pagination) %}
    {% if limit!='all' and limit!=false and pagination.count_pages>0 %}
        <div class="pagination">
            <ul>
                {% if page!=1 %}
                    <li><a href="{{ path(path) }}?page=1&limit={{ limit }}{% if filter.division is defined %}&division={{ filter.division }}{% endif %}{% if filter.status is defined %}&status={{ filter.status }}{% endif %}">To Start</a></li>
                    <li><a href="{{ path(path) }}?page={{ page-1 }}&limit={{ limit }}{% if filter.division is defined %}&division={{ filter.division }}{% endif %}{% if filter.status is defined %}&status={{ filter.status }}{% endif %}">Previous</a></li>
                {% endif %}
                {% for i in pagination.i..pagination.end %}
                    <li{% if i==page %} class="active"{% endif %}>
                        <a href="{{ path(path)  }}?page={{ i }}&limit={{ limit }}{% if filter.division is defined %}&division={{ filter.division }}{% endif %}{% if filter.status is defined %}&status={{ filter.status }}{% endif %}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if page!=pagination.count_pages %}
                    <li><a href="{{ path(path)  }}?page={{ page+1 }}&limit={{ limit }}{% if filter.division is defined %}&division={{ filter.division }}{% endif %}{% if filter.status is defined %}&status={{ filter.status }}{% endif %}">Next</a></li>
                    <li><a href="{{ path(path)  }}?page={{ pagination.count_pages }}&limit={{ limit }}{% if filter.division is defined %}&division={{ filter.division }}{% endif %}{% if filter.status is defined %}&status={{ filter.status }}{% endif %}">To end</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro status_message () %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <p class="alert alert-{{ label }}">
                {{ flash }}
            </p>
        {% endfor %}
    {% endfor %}
{% endmacro %}