{% extends 'LjmsAdminBundle:Default:base.html.twig' %}
	{% block content%}
		<h2 class="add_user">
			{% if method=='add'%}
				Add Division
			{% else %}
				Edit Division
			{% endif %}
		</h2>
		<div class="wrapper">
			{% if method=='add'%}
				<form action="{{ path('division_add') }}" method="post" class="form-horizontal division" id="division">			
			{% else %}
				<form action="{{ path('division_edit',{'id':edit_id}) }}" method="post" class="form-horizontal division" id="division">
				
			{% endif %}
				<fieldset>
					{{ form_errors(form) }}								
					{{form_row(form.is_active)}}
					{{form_row(form.name)}}
					{{form_row(form.min_age)}}
					{{form_row(form.max_age)}}					
					{{form_row(form.description)}}
					{{form_row(form.rules)}}				
				</fieldset>
				<div class="controls buttons">
					{{form_widget(form.Save,{attr:{'class':'btn'}})}}
                    <a class="btn" id="act" href="{{ path('division_index') }}">Back</a>
				</div>
				{{form_rest(form)}}
			</form>
		</div>	
	{% endblock %}
