{% extends 'LjmsAdminBundle:Default:base.html.twig' %}
	{% block content%}
		<h2 class="add_user">
			{% if method=='add'%}
				Add User
			{% else %}
				Edit User
			{% endif %}
		</h2>
		{% if method=='add'%}
			<form action="{{ path('users_add') }}" novalidate="novalidate" method="post" class="form-horizontal" id="add_user_form">
		{% else %}
			<form action="{{ path('users_edit',{'id':edit_id}) }}" method="post" class="form-horizontal" id="edit_user_form">
		{% endif %}
			<fieldset>
				<h3>User information</h3>
				{{ form_errors(form) }}
				<div class="pull-left">
					{{form_row(form.FirstName)}}
					{{form_row(form.address.address)}}
					{{form_row(form.address.state)}}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
				</div>
				<div class="pull-right">
					{{form_row(form.LastName)}}
					{{form_row(form.address.city)}}
					{{form_row(form.address.zip)}}
					{{form_row(form.HomePhone)}}
					{{form_row(form.CellPhone)}}
					{{form_row(form.AltPhone)}}					
				</div>
			</fieldset>
			<fieldset>
				<h3>Alt Contact</h3>
				<div class="pull-left">
					{{form_row(form.altContact.alt_first_name)}}
					{{form_row(form.altContact.alt_email)}}
				</div>
				<div class="pull-right">
					{{form_row(form.altContact.alt_last_name)}}
					{{form_row(form.altContact.alt_phone)}}
				</div>				
			</fieldset>
			<fieldset>
				<h3>User Role</h3>
                    {{form_row(form.Role)}}
				<div class="pull-left">
                    {{form_row(form.Division)}}
				</div>
				<div class="pull-right">
                    {{form_row(form.Team)}}
				</div>
				<table class="roles" id="roles">
					<tr class="header">
						<td>Current Roles</td>
						<td>Division</td>
						<td>Team</td>
						<td></td>
					</tr>
                {% if profile is defined %}
                {% for role in profile.roles if profile.roles!=null %}
                {% if role.id==1 %}
                    <tr class="1_undefined_undefined">
                        <input type="hidden" name="current_role[]" value="1|undefined|undefined">
                        <td>Admin</td>
                        <td></td>
                        <td></td>
                        <td class="delete"><input type="button" onclick="deleteRole(this)" value="Delete Role" class="1_undefined_undefined"></td>
                    </tr>
                {% endif %}
                {% if role.id==2 %}
                    {% for d in profile.divisions %}
                    <tr class="2_{{ d.id }}_undefined">
                        <input type="hidden" name="current_role[]" value="2|{{ d.id }}|undefined">
                        <td>Director</td>
                        <td>{{ d.name }}</td>
                        <td></td>
                        <td class="delete"><input type="button" onclick="deleteRole(this)" value="Delete Role" class="2_{{ d.id }}_undefined"></td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if role.id==3 %}
                    {% for c in profile.coachTeams %}
                        <tr class="3_{{ c.division.id }}_{{ c.id }}">
                            <input type="hidden" name="current_role[]" value="3|{{ c.division.id }}|{{ c.id }}">
                            <td>Coach</td>
                            <td>{{ c.division.name }}</td>
                            <td>{{ c.name }}</td>
                            <td class="delete"><input type="button" onclick="deleteRole(this)" value="Delete Role" class="3_{{ c.division.id }}_{{ c.id }}"></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if role.id==4 %}
                    {% for m in profile.managerTeams %}
                        <tr class="4_{{ m.division.id }}_{{ m.id }}">
                            <input type="hidden" name="current_role[]" value="4|{{ m.division.id }}|{{ m.id }}">
                            <td>Manager</td>
                            <td>{{ m.division.name }}</td>
                            <td>{{ m.name }}</td>
                            <td class="delete"><input type="button" onclick="deleteRole(this)" value="Delete Role" class="4_{{ m.division.id }}_{{ m.id }}"></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% if role.id==5 %}
                    <tr class="5_undefined_undefined">
                        <input type="hidden" name="current_role[]" value="5|undefined|undefined">
                        <td>Guardian</td>
                        <td></td>
                        <td></td>
                        <td class="delete"><input type="button" onclick="deleteRole(this)" value="Delete Role" class="5_undefined_undefined"></td>
                    </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
				</table>
				<div class="add_role">
					<input class="btn" type="button" id="add_role" value="Add Role" disabled>
				</div>				
			</fieldset>
			<div class="controls buttons">
				{{form_widget(form.Save,{attr:{'class':'btn'}})}}
				<a class="btn" id="act" href="{{ path('users_index') }}">Back</a>
			</div>
			{{form_rest(form)}}
		</form>
	{% endblock %}
