{% extends 'LjmsAdminBundle:Default:base.html.twig' %}
	{% block content%}
		<h2>Hi, Administrator </h2>
		<h2>System Users</h2>
        {{ macros.status_message }}
		<form action="{{path ('users_index')}}" method="get" class="pull-left" id="filter_form">
			<span class="filter"><strong>Filter by:</strong></span>
            <span class="filter"> Division:</span>
            <select id="filter" name="division">
                <option value="all" {% if filter.division=='all' %}selected {%endif%}>All</option>
                {% for d in division_list %}
                    <option value="{{ d.name }}" {% if filter.division==d.name %}selected {%endif%}>{{ d.name }}</option>
                {% endfor %}
            </select>
			<span class="filter"> Status:</span>
			<select id="filter" name="status">
				<option value="all" {% if filter.status=='all' %}selected {%endif%}>All</option>
				<option value="active"{% if filter.status=='active' %}selected {%endif%}>Active</option>
				<option value="inactive"{% if filter.status=='inactive' %}selected {%endif%}>Inactive</option>
			</select>
			<input class="btn filter" type="submit" value="filter" >
		</form>
		 <div class="pull-right">
			<a class="btn action add" href="{{ path('users_add') }}" id="act">Add user</a>
		</div>
		<form action="{{path ('users_group')}}" method="post" id="system_users_form">
			<div class="pull-left">
				<select id="action_select" name="action_select">
					<option value="active">Active</option>
					<option value="inactive">Inactive</option>
					<option value="delete">Delete</option>
				</select>
				<input class="btn action" type="submit" value="Action" >
			</div>
			<div class="pagination pull-right">
				<ul>
					<li {% if limit==10 %}class="active"{% endif %}>
                        <a href="{{ path('users_index') }}?division={{ filter.division }}&status={{ filter.status }}&page=1&limit=10">10</a>
					</li>
					<li {% if limit==20 %}class="active"{% endif %}>
                        <a href="{{ path('users_index') }}?division={{ filter.division }}&status={{ filter.status }}&page=1&limit=20">20</a>
					</li>
					<li {% if limit==30 %}class="active"{% endif %}>
                        <a href="{{ path('users_index') }}?division={{ filter.division }}&status={{ filter.status }}&page=1&limit=30">30</a>
					</li>
					<li {% if limit=='all' %}class="active"{% endif %}>
                        <a href="{{ path('users_index') }}?division={{ filter.division }}&status={{ filter.status }}&page=1&limit=all">all</a>
					</li>		
				</ul>
			</div>
			<table class="system_users">
				<tbody>
				<tr class="header">
					<td><input type="checkbox" id="selall"></td>
					<td>NAME</td>
					<td>PHONE</td>
					<td>EMAIL</td>
					<td class="role">ROLE(S)</td>
					<td>DIVISIONS</td>
					<td>TEAMS</td>
					<td>ACTION</td>
				</tr>
				{% for u in users %}
				<tr {% if u.isActive==0 %} class="muted content"{% else %}class="content"{% endif %} >
					<td> <input type="checkbox" class="checkbox" name="check[]" value={{u.id}}> </td>
					<td class="name">{{u.firstname}}</td>
					<td> {{u.homephone}}</td>
					<td class="email">{{ u.email}}</td>
					<td class="role">
                        {% for role in u.roles if role!=null %}
                            {% if role.name == 'Admin'%}
                                <p>Admin</p>
                            {% endif %}
                            {% if role.name == 'Director'%}
                                Director
                                {% for d in u.divisions %}<br>{% endfor %}
                            {% endif %}
                            {% if role.name == 'Coach'%}
                                Coach
                                {% for c in u.coachTeams %}<br>{% endfor %}
                            {% endif %}
                            {% if role.name == 'Manager'%}
                                <p>Manager</p>
                            {% endif %}
                            {% if role.name == 'Guardian'%}
                                <p>Guardian</p>
                            {% endif %}
                        {% endfor %}
                    </td>
					<td class="division">
                        {% for role in u.roles if role!=null %}
                            {% if role.name == 'Admin'%}<br>{% endif %}
                            {% if role.name == 'Director'%}
                                {% for d in u.divisions %}
                                   <p>{{ d.name }}</p>
                                {% endfor %}
                            {% endif %}
                            {% if role.name == 'Coach'%}
                                {% for c in u.coachTeams %}
                                    <p>{{ c.division.name }}</p>
                                {% endfor %}
                            {% endif %}
                            {% if role.name == 'Manager'%}
                                {% for m in u.managerTeams %}
                                    <p>{{ m.division.name }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
					<td class="team">
                        {% for role in u.roles if role!=null %}
                        {% if role.name == 'Admin'%}<br>{% endif %}
                        {% if role.name == 'Director'%}{% for d in u.divisions %}<br>{% endfor %}{% endif %}
                        {% if role.name == 'Coach'%}
                            {% for c in u.coachTeams %}
                                <p>{{ c.name }}</p>
                            {% endfor %}
                        {% endif %}
                        {% if role.name == 'Manager'%}
                            {% for m in u.managerTeams %}
                                <p>{{ m.name }}</p>
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
					</td>
					<td>
					<a href="{{path ('users_edit',{'id':u.id}) }}">
                        {% image '@LjmsTplBundle/Resources/public/images/edit.png' %}
                        <img src="{{ asset_url }}" alt="edit" />
                        {% endimage %}
					</a>
					<a href="{{ path('users_delete',{'id':u.id}) }}" data-confirm-text="Do you want to delete user?" data-method="delete" data-csrf="_token:{{ csrf }}" class="confirmable as-form">
					    {% image '@LjmsTplBundle/Resources/public/images/delete.png' %}
                        <img src="{{ asset_url }}" alt="delete" />
                        {% endimage %}
					</a>
					</td>
				</tr>
				{%endfor%}
				</tbody>
			</table>
		</form>
        {% import 'LjmsTplBundle:Macros:general.html.twig' as pages %}
            {{ pages.links('users_index',filter,page,limit,pagination)}}
	{% endblock %}
